header {
  text-align: center;
  margin-bottom: 0;
}
#primo {
  background-color: rgb(249, 227, 164);
}
hr {
  border-style: solid;
  color: rgba(249, 227, 164);
  margin-top: 20;
  margin: collapse;
}
span {
  display: block;
  text-decoration: rgb(6, 120, 118) solid;
  background-color: rgb(249, 227, 164);
  margin: 0;
  margin-top: collapse;
  background-color: rgb(246, 233, 197);
}
article {
  margin: 30%;
  margin-top: 0;
  text-align: center;
}
ul {
  text-align: left;
}
hr #one {
  border-style: solid;
}
#first {
  text-align: left;
}
#second {
  text-decoration-color: red;
}
#third {
  text-decoration-color: blue;
  text-underline-offset: blue;
}
